<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
     <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  
  <div class="center jumbotron">
    <h1>Welcome to Mayberry Grove</h1>

    <h3>
      <p>Click the button below & Sign up now to become a member.</p>

      <button onclick="myFunction()">Please Click me</button>

      <p id="demo"></p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary signupbtn" %>
      <%= image_tag 'flowers.jpg', style: 'height: 50; align: center', alt: 'flowers pic' %>
    </h3>
  </div>
  
  <h4>Sneak Peak of NEW Items coming soon!</h4>
  
<div class="gallery">
  <a target="_blank" href="productone.jpg">
     <%= image_tag "productone.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Vintage Blackboard $40.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="producttwo.jpg">
     <%= image_tag "producttwo.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Vintage Cup Rack $25.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="productthree.jpg">
    <%= image_tag "productthree.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Vintage Bread Board $35.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="productfour.jpg">
    <%= image_tag "productfour.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Vintage Wall Clock $35.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="productfive.jpg">
    <%= image_tag "productfive.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Wodden Plate Holder $15.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="productsix.jpg">
    <%= image_tag "productsix.jpg", width:"300", height:"200" %>
  </a>
  <div class="desc">Wodden Crate & Glasses $75.00</div>
</div>
<% end %>