<h1>Welcome to Our Paints</h1>

<body>
    
<h2>Popular Paints</h2>

<div class="gallery">
  <a target="_blank" href="morningcalm.png">
     <%= image_tag "morningcalm.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Morning Calm  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="underthestars.png">
     <%= image_tag "underthestars.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Under the Stars  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="stormchaser.png">
     <%= image_tag "stormchaser.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Storm Chaser  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="midnightstorm.png">
    <%= image_tag "midnightstorm.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Midnight Storm  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="plum.png">
    <%= image_tag "plum.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Plum Rocks  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="perwinkle.png">
    <%= image_tag "perwinkle.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Perwinkle Nook  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="sunset.png">
     <%= image_tag "sunset.png", width:"300", height:"200" %>
  </a>
  <div class="desc"> Name: Sunset Slate   Half a gallon: $5.00  Gallon: $10.00</div>
</div> 

<div class="gallery">
  <a target="_blank" href="pinklemonade.png">
     <%= image_tag "pinklemonade.png", width:"300", height:"200" %>
  </a>
  <div class="desc"> Name: Pink Lemonade Half a gallon: $5.00  Gallon: $10.00</div>
</div>

 <hr class="style1">
 
 <div class="gallery">
  <a target="_blank" href="cottagefeel.png">
     <%= image_tag "cottagefeel.png", width:"300", height:"200" %>
  </a>
  <div class="desc"> Name: Cottage Feel  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="lemony.png">
     <%= image_tag "lemony.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Lemony Twist   Half a gallon: $5.00  Gallon: $10.00</div>
</div>
 
<div class="gallery">
  <a target="_blank" href="magnoliagreen.png">
     <%= image_tag "magnoliagreen.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Magnolia Green Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="aspenleaf.png">
     <%= image_tag "aspenleaf.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Aspen Leafs Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<h2>New Pastel Paints</h2>

<div class="gallery">
  <a target="_blank" href="popofcolor.png">
     <%= image_tag "popofcolor.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Pop of Color  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="softlinen.png">
     <%= image_tag "softlinen.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Softs Linen Tan Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="pinacotta.png">
     <%= image_tag "pinacotta.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Pina Cottas Ace  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="cloudygray.png">
     <%= image_tag "cloudygray.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Cloudy Gray Renewed   Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="ellarose.png">
     <%= image_tag "ellarose.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Ella B. Roses   Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="burntsun.png">
     <%= image_tag "burntsun.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Burnt Sunset  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<h2>Dark Vintage Paints</h2>

<div class="gallery">
  <a target="_blank" href="braveandbold.png">
     <%= image_tag "braveandbold", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Brave & Bold  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="ripetomato.png">
     <%= image_tag "ripetomato.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Ripe Tomatos  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="goldendust.png">
     <%= image_tag "goldendust.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Golden Dusts  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="weekend.png">
     <%= image_tag "weekend.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Weekend Fun  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="inbloomseason.png">
     <%= image_tag "inbloomseason.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Bloom Season  Half a gallon: $5.00  Gallon: $10.00</div>
</div>

<div class="gallery">
  <a target="_blank" href="bloomydaygray.png">
     <%= image_tag "bloomydaygray.png", width:"300", height:"200" %>
  </a>
  <div class="desc">Name: Bloomy Day  Half a gallon: $5.00  Gallon: $10.00</div>
</div>




</body>